#skyline {
    background-image: url("../images/skyline.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 46vw;
}

@media (max-width: 767px) {
    #skyline {
        height: 100vw !important;
    }
    #skills img {
        width:25% !important;
    }
    #companies div {
        width: 100% !important;
    }   
}

@media (min-width: 768px) {
    #companies {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-columns: 1fr;
        grid-column-gap: 30px;
    }
}

.skyline-text {
    text-shadow: black 0 -2px;
}


#skills img {
    width:75%;
}

#skills div:hover {
    transform: scale(1.1);
}

#companies img {
    max-height: 44px;
    margin-bottom: 2rem;
}

#companies div:hover {
    transform: scale(1.1);
}

#fun img {
    width: 75%;
}

#fun div:hover {
    transform: scale(1.1);
}